<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681848023852-6rkhig6u5bpdvi0etqat1qdmm5li7303.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681848023852-6rkhig6u5bpdvi0etqat1qdmm5li7303</string>
	<key>API_KEY</key>
	<string>AIzaSyAG5ilS_6dPLaIz1nIJ7l8r275t9SsYhh4</string>
	<key>GCM_SENDER_ID</key>
	<string>681848023852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.altechtic.savehouse</string>
	<key>PROJECT_ID</key>
	<string>educa8-f2e50</string>
	<key>STORAGE_BUCKET</key>
	<string>educa8-f2e50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681848023852:ios:4a7a6cf16ae666fbf69a89</string>
	<key>DATABASE_URL</key>
	<string>https://educa8-f2e50.firebaseio.com</string>
</dict>
</plist>